body{
  background-image: url('../public/images/earth.jpg');
}

.home_nav_link{
  color: white;
  margin-left: 30px;
  text-decoration: none;
  font-size: 21px;
}

.home_image{
  width: 20px;
  height: 20px;
}

.info_page{
  color: white;
  display: flex;
  justify-content: center;

}

.info_card{
  margin-top: 100px;
  background-color: #212529;
  border-radius: 15px;
  width: 70vw;
  height: 70vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav_link{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 30px;
}

.navbar{
  width: 100vw;
  height: 52px;
  background-color: rgb(26, 26, 26);
  color: white;
}

.country_form{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.country_form input{
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
}

.country_form button{
  border: 1px solid black;
  margin-left: 10px;
  background-color: rgb(63, 63, 63);
  color: white;
  border-radius: 5px;
}


.submit_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  height: 40px;
  width: 78px;
  margin-left: 10px;
}

.submit_btn:hover{
  background-color: rgb(37, 37, 37);
}

.select_country_bar{
  width: 320px;
}

.country_data_page{
  display: flex;
  justify-content: center;
}

.country_data_card{
  margin-top: 30px;
  width: 70vw;
  height: 455vh;
  background-color: #212529;
  color: white;;
  font-family: Georgia, serif;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.country_title{
  font-size: 65px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.country_data_table{
  text-align: center;
}


.expenses_type_img{
  margin-right: 10px;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

.expenses_type{
  font-size: 25px;

}

.compare_data_page{
  display: flex;
  justify-content: center;
}

.home_page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_page_card{
  width: 220px;
  height: 220px;
  background-color: white;
  color: rgb(99, 99, 99);
  margin-left: 20px;
  margin-top: 100px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.compare_input{
  margin-left: 10px;
}

.compare_icon{
  width: 30px;
  margin-top: 4px;
  height: 30px;
  margin-left: 9px;
}

.compare_icon2{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 42px;
  width: 30px;
  height: 30px;
}
.country_flag{
  width: 60px;
  height: 40px;
}

.chart_data{
  display: flex;
  justify-content: center;
}

.compare_chart{
  margin-top: 30px;
  width: 800px;
  height: 800px;
}
.country_charts{
  display: flex;
  justify-content: space-around;
}
.pie_country_chart{
  width: 400px;
}

.bar_country_chart{
  margin-top: 30px;
  width: 650px;
  margin-top: 100px;
}

.line_country_chart{
  margin-top: 30px;
  width: 800px;
  margin-top: 60px;
}

