body{
  background-image: url('../public/images/earth.jpg');
}

.home_nav_link{
  color: white;
  margin-left: 30px;
  text-decoration: none;
  font-size: 21px;
}

.nav_link{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 30px;
}

.navbar{
  width: 100vw;
  height: 52px;
  background-color: rgb(26, 26, 26);
  color: white;
}

.country_form{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.country_form input{
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
}

.country_form button{
  border: 1px solid black;
  margin-left: 10px;
  background-color: rgb(63, 63, 63);
  color: white;
  border-radius: 5px;
}

.country_form button:hover{
  background-color: black;
}

.submit_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  height: 37px;
  width: 70px;
  margin-left: 10px;
}

.select_country_bar{
  width: 320px;
}

.country_data_page{
  display: flex;
  justify-content: center;
}

.country_data_card{
  margin-top: 30px;
  width: 70vw;
  height: 390vh;
  background-color: white;
  font-family: Georgia, serif;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.country_title{
  font-size: 80px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.country_data_table{
  text-align: center;
}

.expenses_type_img{
  margin-right: 10px;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;

}

.expenses_type{
  font-size: 25px;

}

.compare_data_page{
  display: flex;
  justify-content: center;
}

.home_page_cards{
  display: flex;
  justify-content: center;
  align-items: center;
}
